.palette14 {
    --g1-c1: #007502;
    --g1-c2: #008000;
    --g1-c3: #008A00;
    --g1-c4: #529200;
    --g1-c5: #8A9600;
    --g1-c6: #BC9800;
    --g1-c7: #EC9600;
    --g1-c8: #FF9100;
    --g1-c9: #FF8B2B;
    --g1-c10: #FF8562;
    --g1-c11: #FF8395;
    --g1-c12: #FF89CB;
    --g1-c13: #FF98FF;
    --g1-c14: #FFA3FF;
}
